* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font-size: 62.5%; 
	font-family: Georgia, serif;
	background: #233743; 
}

label, li {
	display: block;
	font-size: 2.0em;
	color: #e3f1fa;
}
fieldset {
	margin: 100px auto;
	width: 500px;
	text-align:center;
	padding: 8px 15px 15px 15px;
	border: 2px solid white;
 /* IE 7 Requires This */
	}
	.ques{
		padding: 8px 6px 8px 6px;
		border: 1px solid white;
		font-size: 3.0em;
		color: #e3f1fa;
		font-style: italic;
	}
ul { list-style: none; margin-bottom: 15px;}
